$box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$border-radius: .7rem;
$padding: 32px;
$padding__desc: 16px;
$green:#19AB4A;
$green__hover: #19844a;
$red:#FC3F1D;

$font-size-desc-icon: 1.5rem;
$font-size-title-icons: 1.5rem;
