@use "../../App/variables";
@use "../../App/mixin";

.search {
  &__modal {
    display: block !important;
    padding: 1rem !important;
    &:not(dialog:not(.modal-open)), &::backdrop{
      background-color: white!important;
    }
  }

  &__card {
    padding: 0 .7rem;
    @include mixin.flex-between-center;
    margin-bottom: 1.5rem;
  }

  &__title {
    @include mixin.flex-between-center;
  }

  &__img {
    max-width: 2.5em;
    max-height: 2.5em;
    border-radius: variables.$border-radius;
    margin-right: .5rem;
  }
}
