@use "../../App/variables";

.input {
  box-shadow: variables.$box-shadow;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 0!important;
  //border-radius: variables.$border-radius;
  display: flex;
  align-items: center;
  background: white;
  &__input{
    width: 100%;
  }
}
